<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Pricematch>
      <version>0.1.7</version>
    </Magebuzz_Pricematch>
  </modules>
  <frontend>
    <routers>
      <pricematch>
        <use>standard</use>
        <args>
          <module>Magebuzz_Pricematch</module>
          <frontName>pricematch</frontName>
        </args>
      </pricematch>
    </routers>
    <layout>
      <updates>
        <pricematch>
          <file>pricematch.xml</file>
        </pricematch>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Pricematch>
          <files>
            <default>Magebuzz_Pricematch.csv</default>
          </files>
        </Magebuzz_Pricematch>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <use>admin</use>
        <args>
          <modules><Magebuzz_Pricematch after="Mage_Adminhtml">Magebuzz_Pricematch_Adminhtml</Magebuzz_Pricematch></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <pricematch>
          <file>pricematch.xml</file>
        </pricematch>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Pricematch>
          <files>
            <default>Magebuzz_Pricematch.csv</default>
          </files>
        </Magebuzz_Pricematch>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <pricematch>
        <class>Magebuzz_Pricematch_Model</class>
        <resourceModel>pricematch_mysql4</resourceModel>
      </pricematch>
      <pricematch_mysql4>
        <class>Magebuzz_Pricematch_Model_Mysql4</class>
        <entities>
          <pricematch>
            <table>pricematch</table>
          </pricematch>
        </entities>
      </pricematch_mysql4>
    </models>
    <resources>
      <pricematch_setup>
        <setup>
          <module>Magebuzz_Pricematch</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </pricematch_setup>
      <pricematch_write>
        <connection>
          <use>core_write</use>
        </connection>
      </pricematch_write>
      <pricematch_read>
        <connection>
          <use>core_read</use>
        </connection>
      </pricematch_read>
    </resources>
    <blocks>
      <pricematch>
        <class>Magebuzz_Pricematch_Block</class>
      </pricematch>
    </blocks>
    <helpers>
      <pricematch>
        <class>Magebuzz_Pricematch_Helper</class>
      </pricematch>
    </helpers>
    <template>
      <email>
        <pricematch_email_email_template_request>
          <label>Price match infomation for admin</label>
          <file>pricematch/pricematch-information-for-admin.html</file>
          <type>html</type>
        </pricematch_email_email_template_request>
        <pricematch_email_email_template_confirm>
          <label>Price match request to customers</label>
          <file>pricematch/pricematch-request-confirmation.html</file>
          <type>html</type>
        </pricematch_email_email_template_confirm>
        <pricematch_email_email_template_rejected>
          <label>Price match rejected</label>
          <file>pricematch/reply-for-pricemacth-rejected.html</file>
          <type>html</type>
        </pricematch_email_email_template_rejected>
        <pricematch_email_email_coupon_code_template>
          <label>Price match approved</label>
          <file>pricematch/reply-for-pricemacth-approved.html</file>
          <type>html</type>
        </pricematch_email_email_coupon_code_template>
      </email>
    </template>
  </global>
  <default>
    <pricematch>
      <general>
        <enable_pricematch>1</enable_pricematch>
        <expired_coupon>1</expired_coupon>
      </general>
      <product_page>
        <button><![CDATA[Price Match]]></button>
      </product_page>
      <appearance>
        <header><![CDATA[Price Match]]></header>
        <text_before_form><![CDATA[If you find a lower price on any our product, we will match the price and get back the difference]]></text_before_form>
        <text_after_form><![CDATA[Once your submission has been approved, you'll receive an email with further instructions]]></text_after_form>
        <enable_phone>1</enable_phone>
        <enable_skype>1</enable_skype>
        <enable_captcha>1</enable_captcha>
      </appearance>
      <email>
        <email_recipient_configuration>both</email_recipient_configuration>
        <send_email_after_approve_request>1</send_email_after_approve_request>
        <send_email_after_rejected_request>1</send_email_after_rejected_request>
        <email_template_request>pricematch_email_email_template_request</email_template_request>
        <email_coupon_code_template>pricematch_email_email_coupon_code_template</email_coupon_code_template>
        <email_template_confirm>pricematch_email_email_template_confirm</email_template_confirm>
        <email_template_rejected>pricematch_email_email_template_rejected</email_template_rejected>
        <message_reply><![CDATA[We just posted a new price for your request about our product. Following is the information:]]></message_reply>
      </email>
    </pricematch>
  </default>
</config>